# Set the default behavior, in case people don't have core.autocrlf set.

# Declare files that will always have CRLF line endings on checkout.
*.bat eol=crlf
*.vcxproj eol=crlf
*.sln eol=crlf
*.sh eol=lf
ChangeLog eol=lf
configure.ac eol=lf
version eol=lf
version.sh eol=lf
libximc.spec eol=lf

# exception


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.svg binary